ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

img {
  margin-top: -16px;
}

/* Main container */

.main-container {
  width: 600px;
  height: 520px;
  margin: auto;
  position: relative;
  top: 20%;
}

/* Slider container */
.slider-container {
  position: relative;
  height: 100%;
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ff0000;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 100%;
  border: 2px solid black;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 15px;
  font-weight: 900;
  color: #ff0000;
  z-index: 1;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 100%;
  border: 2px solid black;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #000000;
  overflow: hidden;
}

.class-images {
  width: 600px;
  height: 520px;
  border: 20px solid black;
  border-radius: 5%; /* Puedes cambiar el grosor, estilo y color */
}

div.active {
  background: #000000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
