.header {
  background-color: #cacaca;
  color: rgb(255, 0, 0);
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding: 1rem;
  width: 100%;
  z-index: 1000;
}

ul {
  margin: 10;
  padding: 0;
  list-style: armenian;
  padding-right: 20px;
  justify-content: left;
}

ul li {
  display: inline-;
  line-height: 60px;
}

ul li a {
  display: flex;
  text-decoration: line-through;
  border-radius: 50%;
}

ul li a:hover {
  background: #8b2121b4;
  border-radius: 50%;
}
