.header {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.8px);
  -webkit-backdrop-filter: blur(14.8px);
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: rgb(255, 0, 0);
  height: 70px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

ul {
  list-style: none;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between;
  padding-left: 20px;
  margin: 0;
}

ul li {
  display: inline-block;
  padding-top: 10px;
}

ul li a {
  position: relative;
  display: flex;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 0 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 2rem;
  padding-right: 20px;
  border-bottom: 1rem;
}

ul li a:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 0, 76);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

ul li a:hover::after {
  width: 100%;
  color: rgb(255, 0, 76);
}

ul li a:hover {
  font-weight: bold;
  color: rgb(255, 0, 76);
}

ul li a.active {
  font-weight: bold;
  color: rgb(255, 0, 76); /* O el color que prefieras para el enlace activo */
}
