#signup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(39deg, #112437, #652d2f, #ad2c24, #f80f0f);
  background-size: cover;
  margin: 0;
  padding: 0;
}

#cardSignup {
  backdrop-filter: blur(19px) saturate(87%);
  -webkit-backdrop-filter: blur(19px) saturate(87%);
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.65);
  height: 510px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
  color: rgb(255, 255, 255);
}

#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
<<<<<<< HEAD
#submit-btn {
  background: -webkit-linear-gradient(right, #ad2c24, #652d2f);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #ff0000;
=======
.submit-btn {
  background: -webkit-linear-gradient(right, #ff004c, #652d2f);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #ff004c;
>>>>>>> master
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
<<<<<<< HEAD
  margin-top: 50px;
=======
>>>>>>> master
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0px 1px 18px #f1f1f1;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
<<<<<<< HEAD
  background: -webkit-linear-gradient(right, #ff0000, #7a7a7a);
=======
  background: -webkit-linear-gradient(right, #ff004c, #7a7a7a);
>>>>>>> master
  height: 1px;
  width: 100%;
}
.form-content {
  color: wheat;
  background: #fbfbfb00;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
<<<<<<< HEAD
  background: -webkit-linear-gradient(right, #a71b1b, hsla(0, 0%, 0%, 0));
=======
  background: -webkit-linear-gradient(right, #ff004c, hsla(0, 0%, 0%, 0));
>>>>>>> master
  height: 2px;
  margin: -1.1rem auto 0 auto;
  margin-top: 0.1px;
  width: 200px;
}
