.home-content {
  color: aliceblue;
  padding-inline: 30px;
  padding-block: 30px;
  background-color: rgb(43, 43, 43);
}

.home-content-span {
  color: rgb(153, 15, 15);
  text-decoration: double;
  letter-spacing: 7px;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  font-size: 50px;
}

.home-content-message {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: left;
  align-items: center;
  align-content: center;
  color: rgb(32, 32, 32);
  height: 70vh;
  margin-inline: 50px;
  font-weight: bold;
  span {
    color: rgb(224, 59, 59);
    font-weight: 400;
  }
}

.home-card {
  display: flex;
  flex-direction: column;
  color: rgb(255, 0, 0);
  background-color: rgba(56, 56, 56, 0.699);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 5px solid rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid #0000004d;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.432);
}

.home-card1 {
  width: 50%;
  max-width: 60%;
  z-index: 1;
}

.home-card2 {
  width: 50%;
  max-width: 60%;
  z-index: 1;
  margin-left: 50%;
}

.card-title {
  color: aliceblue;
  text-align: center;
  padding-bottom: 10px;
}
